@font-face
{
    font-family: solarSpaceText; 
    src: url('./assets/solarSpaceText.ttf') format('truetype');
}

body
{
    border-left-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-color: #c994ff;
    border-right-color: #c994ff;
    border-bottom-color: #c994ff;   
    border-width: 20px;
    background-color: #f0e4f7;
}

header
{
    font-family: solarSpaceText;
    color: #5500ab;
    overflow: hidden;
}

.titlearea
{
    text-align: center;
    background-color: #c994ff;
    overflow: hidden;
}

.buttonsection
{
    float: right;
}

.centeranimation
{
    display: block;
    margin: auto;
    width: 50%;
}

h2
{
    font-family: solarSpaceText;
    color: #5500ab;
}

main
{
    text-align: center;
}

#dropdown select
{
    font-family: solarSpaceText;
    color: #5500ab;
    background-color: #c994ff;
    padding: 15px;
    border-style: solid;
    border-width: 3px;
    border-color: #5500ab;
}

#gobutton button
{
    font-family: solarSpaceText;
    color: #5500ab;
    background-color: #c994ff;
    padding: 20px;
    font-size: 30px;
    margin: 20px;
    border-style: solid;
    border-width: 3px;
    border-color: #5500ab;
}

footer
{
    font-family: solarSpaceText;
    text-align: center;
    color: #5500ab;
    font-size: 0.7em;
    font-style: italic;
}